
<div class="m-3 flex justify-content-center" >
  <button pButton *ngIf="showButtonNew" class="mt-4 p-button-success " [routerLink]="['/salon',0]" icon="pi pi-plus" label="Nuevo"></button>
</div>
<div class="grid">
  <div class="col-4" *ngFor="let sala of salas">
        <p-card header="{{sala.denominacion}}" styleClass="shadow-2 ">


            <ng-template pTemplate="body">
              Costo: {{sala.costoPorDia}} <br>
              Cant Personas:{{sala.capacidad}}
            </ng-template>
            <ng-template pTemplate="footer">
              <button (click)="selectSalon(sala.idSalon)" pButton type="button" label="Mas Info" icon="pi pi-angle-right" iconPos="right" class="p-button-sm"></button>
            </ng-template>
        </p-card>
  </div>
</div>

