<p-card class="flex justify-content-center mt-5">
  <div class="grid">
    <form (ngSubmit)="!FormEventos.invalid && saveEvento()" #FormEventos="ngForm">
      <tr>
        <td >
          <div  class="m-3">
              <label for="eventoCantPersonas">Cantidad de Personas</label>
              <input type="text" id="eventoCantPersonas" pInputText maxlength="5"
              [(ngModel)]="evento.cantidadPersonas"
              class="form-control"
              name="cantidadPersonas" required="required" maxlength="6">
          </div>
        </td>
        <td >
          <div  class="m-3">
            <label for="eventofechaEvento">Fecha de Evento</label>
            <input type="date" id="eventofechaEvento" pInputText
                   [(ngModel)]="evento.fechaEvento"
                   class="form-control"
                   name="fechaEvento" required="required">
          </div>
        </td>
        <td>
          <div class="m-3">
          <label for="idCliente" *ngIf="isAdm$|async">Cliente</label>
          <p-dropdown id="idCliente" *ngIf="isAdm$|async" [options]="clientes" [(ngModel)]="evento.cliente"
                      optionLabel="apellido" class="form-control" name="evento.cliente.apellido" appendTo="body" display="chip"></p-dropdown>
            <label for="idClienteselected" *ngIf="!(isAdm$|async)">Cliente</label>
            <input id="idClienteselected" *ngIf="!(isAdm$|async)" disabled [(ngModel)]="evento.cliente.apellido"
                 pInputText  class="form-control" name="evento.cliente.apellido"  display="chip">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="m-3 ">
          <label for="idServicio">Servicios</label>

            <p-multiSelect id="idServicio" [options]="servicios" [(ngModel)]="evento.servicios"
                           optionLabel="denominacion" class="form-control absolute" [maxSelectedLabels]="4"
                           [selectedItemsLabel]="'{0} items selected'"
                            name="evento.servicios"></p-multiSelect>
          </div>
        </td>
        <td>
          <div class="m-3">
          <label for="idSalon" *ngIf="(isAdm$|async)">Salon</label>
          <p-dropdown id="idSalon" *ngIf="(isAdm$|async)" [options]="salones" [(ngModel)]="evento.salon"
                         optionLabel="denominacion" class="form-control" name="evento.salon" appendTo="body" display="chip" ></p-dropdown>
            <label for="idSalonselected" *ngIf="!(isAdm$|async)">Salon</label>
            <input id="idSalonselected" *ngIf="!(isAdm$|async)" disabled [(ngModel)]="evento.salon.denominacion"
                   pInputText  class="form-control" name="evento.salon.denominacion"  display="chip">


          </div>
        </td>
      </tr>
      <button pButton type="submit" class="p-button-success mt-2">Save</button>
    </form>
  </div>
</p-card>
