
<p-card class="flex justify-content-center m-2">
<div class="flex justify-content-center m-2">
  <form (ngSubmit)="!todoForm.invalid" #todoForm="ngForm">
  <div class="" [style]="{'padding-top':'2rem'}">
      <div class="field p-fluid">
          <span class="p-float-label">
              <input id="float-username"  class="form-control"
                     name="username" required="required"
                     pInputText [(ngModel)]="username"/>
              <label for="float-username">Usuario</label>
          </span>
      </div>
  </div>
  <div class="">
      <div class="field p-fluid">
          <span class="p-float-label">
              <input id="float-password" class="form-control"
                     name="password" required="required"
                     pInputText type="password" [(ngModel)]="password"/>
              <label for="float-password">Contraseña</label>
          </span>
      </div>
  </div>


  <div class=" centrar">
    <button type="submit" (click)="handleJWTAuthLogin()" pButton label="Aceptar"></button>
  </div>
  </form>
</div>
  </p-card>

