
 <div class="flex m-3 justify-content-center">
    <button pButton routerLink='/salas'>Volver</button>
 </div>
<p-card class="flex justify-content-center mt-2">
<h4 *ngIf="id==0">Nuevo Salon</h4>
<div class="flex justify-content-center m-4 centrar">
<form (ngSubmit)="!todoForm.invalid" #todoForm="ngForm">
  <fieldset >
    <label  *ngIf="administrativo" for="salonDenominacion">Nombre</label>
    <input  *ngIf="administrativo" type="text" id="salonDenominacion" pInputText
           [(ngModel)]="salon.denominacion"
           class="form-control"
           name="denominacion" required="required">
    <label *ngIf="cliente" disabled for="salonDenominacionCliente">Nombre</label>
    <input *ngIf="cliente" disabled type="text" id="salonDenominacionCliente" pInputText
           [(ngModel)]="salon.denominacion"
           class="form-control"
           name="denominacion" required="required">
  </fieldset>
  <fieldset >
    <label *ngIf="administrativo"  for="salonCostoPorDia">Precio p/dia</label>
    <input *ngIf="administrativo"  type="text" id="salonCostoPorDia" pInputText [(ngModel)]="salon.costoPorDia"
           class="form-control"
           name="costoPorDia" required="required" >
    <label *ngIf="cliente" disabled for="salonCostoPorDia2">Precio p/dia</label>
    <input *ngIf="cliente" disabled type="text" id="salonCostoPorDia2" pInputText [(ngModel)]="salon.costoPorDia"
           class="form-control"
           name="costoPorDia" required="required" maxlength="5" >
  </fieldset>
  <fieldset >
    <label *ngIf="administrativo" for="capacidad">Capacidad</label>
    <input *ngIf="administrativo" type="text" id="capacidad" pInputText [(ngModel)]="salon.capacidad"
           class="form-control"
           name="capacidad" required="required" >
    <label *ngIf="cliente" disabled for="capacidad2">Capacidad</label>
    <input *ngIf="cliente" disabled type="text" id="capacidad2" pInputText [(ngModel)]="salon.capacidad"
           class="form-control"
           name="capacidad" required="required" maxlength="5" >
  </fieldset>
  <div class="flex justify-content-center m-2">
    <button pButton *ngIf="administrativo" type="submit" class="m-2 p-button-success" (click)="saveSalon()" >Save</button>
    <button pButton *ngIf="cliente || administrativo" class="m-2 p-button-info justify-content-between" (click)="selectSalon(salon)">Select</button>
    <button pButton *ngIf="id>0 && administrativo" class="m-2 p-button-danger justify-content-end" (click)="deleteSalon()">Delete</button>

  </div>
  </form>
</div>
</p-card>

<p-toast position="center" key="confirmar-c" (onClose)="cancelarMsj()" [baseZIndex]="5000">
       <ng-template let-message pTemplate="message">
           <div class="p-flex p-flex-column" style="flex: 1">
               <div class="p-text-center">
                   <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                   <h4>{{message.summary}}</h4>
                   <p>{{message.detail}}</p>
               </div>
               <div class="grid">
                   <div class="centrarBtn">
                       <button type="button" pButton (click)="aceptarMsj()" label="Eliminar" class="p-button-danger"></button>
                   </div>
                   <div class="centrarBtn">
                       <button type="button" pButton (click)="cancelarMsj()" label="Cancelar" class="p-button-secondary"></button>
                   </div>
               </div>
           </div>
       </ng-template>
     </p-toast>
     

 