
 <div class="flex m-3 justify-content-center">
    <button pButton routerLink='/salas'>Volver</button>
 </div>
<p-card class="flex justify-content-center mt-2">
<h4 *ngIf="id==0">Nuevo Salon</h4>
<div class="flex justify-content-center m-4 centrar">
<form (ngSubmit)="!todoForm.invalid && saveSalon()" #todoForm="ngForm">
  <fieldset >
    <label  *ngIf="administrativo" for="salonDenominacion">Nombre</label>
    <input  *ngIf="administrativo" type="text" id="salonDenominacion" pInputText
           [(ngModel)]="salon.denominacion"
           class="form-control"
           name="denominacion" required="required">
    <label *ngIf="cliente" disabled for="salonDenominacionCliente">Nombre</label>
    <input *ngIf="cliente" disabled type="text" id="salonDenominacionCliente" pInputText
           [(ngModel)]="salon.denominacion"
           class="form-control"
           name="denominacion" required="required">
  </fieldset>
  <fieldset >
    <label *ngIf="administrativo"  for="salonCostoPorDia">Precio p/dia</label>
    <input *ngIf="administrativo"  type="text" id="salonCostoPorDia" pInputText [(ngModel)]="salon.costoPorDia"
           class="form-control"
           name="costoPorDia" required="required" >
    <label *ngIf="cliente" disabled for="salonCostoPorDia2">Precio p/dia</label>
    <input *ngIf="cliente" disabled type="text" id="salonCostoPorDia2" pInputText [(ngModel)]="salon.costoPorDia"
           class="form-control"
           name="costoPorDia" required="required" maxlength="5" >
  </fieldset>
  <fieldset >
    <label *ngIf="administrativo" for="capacidad">Capacidad</label>
    <input *ngIf="administrativo" type="text" id="capacidad" pInputText [(ngModel)]="salon.capacidad"
           class="form-control"
           name="capacidad" required="required" >
    <label *ngIf="cliente" disabled for="capacidad2">Capacidad</label>
    <input *ngIf="cliente" disabled type="text" id="capacidad2" pInputText [(ngModel)]="salon.capacidad"
           class="form-control"
           name="capacidad" required="required" maxlength="5" >
  </fieldset>
  <div class="flex justify-content-center m-2">
    <button pButton *ngIf="administrativo" type="submit" class="m-2 p-button-success " >Save</button>
    <button pButton *ngIf="cliente || administrativo" class="m-2 p-button-info justify-content-between" (click)="selectSalon(salon)">Select</button>
    <button pButton *ngIf="id>0 && administrativo" class="m-2 p-button-danger justify-content-end" (click)="deleteSalon()">Delete</button>

  </div>
  </form>
</div>
</p-card>
<!-- <app-volver></app-volver> -->

